<md-sidenav-container class="m2app-dark">

  <md-sidenav #sidenav mode="over" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Angular Material2 Example App

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">

    <img src="{{gif.url}}" alt="Space gif" />

    <div>
      <button md-raised-button>I'm still mad!</button>
    </div>

  </div>

</md-sidenav-container>